<header>
	<button type="button" class="btn btn-primary"><a href="#/addTheatre">Add Theatre</a></button>
	<button type="button" class="btn btn-primary"><a href="#/viewTheatres">View Theatres</a></button>
	<button type="button" class="btn btn-primary"><a href="#/addScreen">Add Screen</a></button>
</header>