<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Movie Booking System</title>
</head>
<body>
	<div ng-controller="ScreenCtrl">
		<div class="col-sm-8 col-sm-offset-1">
				<h3>Enter Screen Information:</h3>
				<form>
					<div class="form-group">
	    				<label for="screenName">Screen Name:</label>
					    <input type="text" class="form-control" ng-model="screenName">
					  </div>
					  <div class="form-group">
	    				<label for="totalSeats">Total Seats:</label>
					    <input type="number" class="form-control" ng-model="totalSeats">
					  </div>
					  <div class="form-group">
	    				<label for="theatreId">Theatre:</label>
					  	<select class="form-control" ng-model="selectedTheatreId" ng-options="theatre.theatreId as theatre.theatreName for theatre in theatres">
						</select>
					  </div>
				</form>
				<button type="button" class="btn btn-primary" ng-click="addScreen()">Submit</button>
			</div>
		</div>
</body>
</html>