<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Movie Booking System</title>
</head>
<body>
	<div ng-controller="HomeCtrl">
		<div>
			<div class="col-sm-8 col-sm-offset-1">
				<h3>Enter Theatre Information:</h3>
				<form>
					<div class="form-group">
	    				<label for="theatreName">Theatre Name:</label>
					    <input type="text" class="form-control" ng-model="theatreName">
					  </div>
					  <div class="form-group">
	    				<label for="theatreLocation">Theatre Location:</label>
					    <input type="text" class="form-control" ng-model="theatreLocation">
					  </div>
					  <div class="form-group">
	    				<label for="theatreAddress">Theatre Address:</label>
					    <input type="text" class="form-control" ng-model="theatreAddress">
					  </div>
					  <div class="form-group">
	    				<label for="theatreContact">Theatre Contact:</label>
					    <input type="number" class="form-control" ng-model="theatreContact">
					  </div>
				</form>
				<button type="button" class="btn btn-primary" ng-click="addTheatre()">Submit</button>
			</div>
		</div>
	</div>

</body>
</html>