<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Movie Booking System</title>
</head>
<body>
	<div ng-controller="TheatreCtrl">
		<table class="table">
		    <thead>
		      <tr>
		        <th>Theatre Name</th>
		        <th>Location</th>
		        <th>Address</th>
		        <th>Contact</th>
		        <th>Screens</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="theatre in theatres">
		        <td>{{theatre.theatreName}}</td>
		        <td>{{theatre.location}}</td>
		        <td>{{theatre.address}}</td>
		        <td>{{theatre.contact}}</td>
		        <td>
		        	<div ng-repeat="screen in theatre.screens">
		        		{{screen.screenName}}
		        	</div>
		        </td>
		      </tr>
		    </tbody>
		  </table>
	</div>

</body>
</html>